.main-card {
  /* background-color: rgba(141, 130, 130, 0.2); */
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.7)
  );
}
.home-main {
  text-align: center;
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.4),
    rgba(38, 139, 156, 0.5),
    rgba(255, 0, 0, 0.3)
  );
  transition: 0.6s;
}
.cards {
  border-radius: 5px;
  box-shadow: 10px 10px 22px gray;
  background-color: gray;
}
.header {
  width: 70%;
}
.title {
  background-color: rgba(228, 54, 54, 0.5);
  font-size: 32px;
  text-align: center;
  box-shadow: 2px 3px solid gray;
}
.cards-main {
  text-align: center;
}
